DatabaseTesting/packages/
DatabaseTesting.Watchdog/obj/
DatabaseTesting.Watchdog/bin/
DatabaseTesting.ApplicationLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DatabaseTesting.ApplicationLayer/obj/
DatabaseTesting/bin/
DatabaseTesting.ApplicationLayer/bin/
DatabaseTesting/obj/
